@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PolyRushWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/PolyRushWeb/styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel = "icon" href ="~/favicon.ico" type = "image/x-icon"> 
</head>
<body>

    <style>
        body {
            background: #280c53;
        }
    </style>

<div class="outer">
    <div class="middle">
        <div class="inner">
            @RenderBody()
        </div>
    </div>
</div>

<style>
    .outer {
      display: table;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    
    .middle {
      display: table-cell;
      vertical-align: middle;
    }
    
    .inner {
      padding: 1em;
      margin-left: auto;
      margin-right: auto;
      /* Whatever width you want */
    }
</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial"></partial>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
