@model List<Discount>
@{
    ViewData["Title"] = "Discount";
    Layout = "_HomeLayout";
}
<script >
    @{
        int index = 4;
    }
    $(document).ready(function() {
        $("#navs").children().eq(@index).addClass("active")
    });
</script>
<div id="discountsContainer"></div>
@if (Model.Any())
{
    @foreach (Discount discount in Model)
    {
        @discount.DiscountPercentage
    }
}
else
{
    <p>No discounts have been found!</p>
}

