@model PolyRushWeb.Models.UserEditAdminModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1>View</h1>

<h4>Edit user model for @Model.Username</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUser" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Coins" class="control-label"></label>
                <input asp-for="Coins" class="form-control" />
                <span asp-validation-for="Coins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Highscore" class="control-label"></label>
                <input asp-for="Highscore" class="form-control" />
                <span asp-validation-for="Highscore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scoregathered" class="control-label"></label>
                <input asp-for="Scoregathered" class="form-control" />
                <span asp-validation-for="Scoregathered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itemspurchased" class="control-label"></label>
                <input asp-for="Itemspurchased" class="form-control" />
                <span asp-validation-for="Itemspurchased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coinsspent" class="control-label"></label>
                <input asp-for="Coinsspent" class="form-control" />
                <span asp-validation-for="Coinsspent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coinsgathered" class="control-label"></label>
                <input asp-for="Coinsgathered" class="form-control" />
                <span asp-validation-for="Coinsgathered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timespassed" class="control-label"></label>
                <input asp-for="Timespassed" class="form-control" />
                <span asp-validation-for="Timespassed" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SeesAds" /> @Html.DisplayNameFor(model => model.SeesAds)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

