@using PolyRushWeb.DA
@using PolyRushLibrary
@model List<Achievement>


<script >
@{
    int index = 3;
}
$( document ).ready(function() {
    $("#navs").children().eq(@index).addClass("active")
});
</script>
<style>
   
    .achievementsTable{
        margin: 0 2rem
    }
    td{
        color: var(--bs-body-color);
        text-shadow: 0 0 1px rgba(50,251,226,.6),0 0 3px rgba(50,251,226,.5),0 0 .5rem rgba(50,251,226,.3),0 0 2rem rgba(50,251,226,.2):
    }
</style>


<h1>Achievements</h1><br />
<div>

   
    <div class="row m-0">
        <table class="table table-dark table-hover achievementsTable" style="max-width:700px; margin-left: 0px">

        <tbody>
          
            @foreach (Achievement achievement in Model)
            {
                <tr style="user-select:none">
                    <td>@achievement.AchievementName</td>
                    <td>@achievement.AchievementDescription</td>
                </tr>
            }
        </tbody>
        </table>
        
    </div>
</div>