@model PolyRushLibrary.UserDTO?

@{
    ViewBag.Title = "Start";
    Layout = "_HomeLayout";

}
<head>
    <link rel="stylesheet" href="~/css/index.css"/>
</head>
<script >
@{
    int index = 0;
}
$( document ).ready(function() {
    $("#navs").children().eq(@index).addClass("active")
});
   
</script>

<h1>Start</h1>
<h2>Welcome @Model.Firstname!</h2>

