@model PolyRushLibrary.UserDTO

@{
    ViewBag.Title = "Start";
    Layout = "_HomeLayout";

}
<head>
    <link rel="stylesheet" href="~/css/index.css"/>
</head>
<script >
@{
    int index = 0;
}
$( document ).ready(function() {
    $("#navs").children().eq(@index).addClass("active")
});
   
</script>

<h1>Start</h1>
<h2>Welcome @Model.Firstname!</h2>
<p>On this web app you will find various of information.</p>
<ul>
    <li>You can view your stats</li>
    <li>You can view leaderboards</li>
    <li>You can edit your profile.</li>
</ul>
<p>If you want download the game, proceed to the <strong><a target="_blank" href="https://justkilling.itch.io/poly-rush">itch.io page</a></strong></p>